<app-navbar></app-navbar>
<div class="bg-white">
  <div
    class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8"
  >
    <div class="lg:max-w-lg lg:self-end">
      <div class="mt-4">
        <h1
          class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
        >
          {{ product.name }}
        </h1>
      </div>

      <section aria-labelledby="information-heading" class="mt-4">
        <h2 id="information-heading" class="sr-only">Product information</h2>

        <div class="mt-4 space-y-6">
          <p class="text-base text-gray-500">
            {{ product.description }}
          </p>
        </div>

        <div class="mt-6 flex items-center">
          <svg
            class="flex-shrink-0 w-5 h-5 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
          <p class="ml-2 text-sm text-gray-500">Sale ends in {{ message }}</p>
        </div>
        <div class="mt-4 space-y-6">
          <p class="text-xl text-red-500" *ngIf="product.sold">Sold</p>
          <p class="text-xl text-green-500" *ngIf="!product.sold">
            Awaiting Sale
          </p>
        </div>
      </section>
    </div>

    <!-- Product image -->
    <div class="mt-10 lg:mt-0 lg:col-start-2 lg:row-span-2 lg:self-center">
      <div class="aspect-w-1 aspect-h-1 rounded-lg overflow-hidden">
        <img
          src="{{ product.asset }}"
          alt=""
          class="w-full h-full object-center object-cover"
        />
      </div>
    </div>

    <!-- Product form -->
    <div class="mt-10 lg:max-w-lg lg:col-start-1 lg:row-start-2 lg:self-start">
      <section aria-labelledby="options-heading">
        <h2 id="options-heading" class="sr-only">Product options</h2>

        <div class="mt-10">
          <button
            class="w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500"
          >
            Buy Now
          </button>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="flex flex-col px-40">
  <h3
    class="text-xl font-extrabold tracking-tight text-gray-900 sm:text-2xl py-3"
  >
    Active Bids
  </h3>
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Name
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Email
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Price
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let bid of product.bidsList">
              <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
              >
                {{ bid.name }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ bid.email }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ bid.price }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
